@import 'base.scss';

.content-wide-container {
    padding: 10% 20% 5%;

    @include respon(phone-pot) {
        padding: 20% 10%;
    }
    @include respon(phone-land) {
        padding: 15% 10%;
        
    }
    @include respon(tb-pot) {
        padding: 10% 15%;
    }
    @include respon(tb-land) {
        padding: 5% 20%;
    }
}

.important-text {
    font-size: 1.2rem;
    font-weight: bold;
}