.button {
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1rem 1.15rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button-small {
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1rem 1.15rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button-blue {
  background-color: #4285F4;
}

.button-blue:hover {
  background-color: #1E50A5;
}

.button-red {
  background-color: #F85E56;
}

.button-red:hover {
  background-color: #D8342B;
}

.content-container {
  padding: 5% 25%;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-container {
    padding: 20% 10%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-container {
    padding: 15% 10%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-container {
    padding: 10% 15%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content-container {
    padding: 5% 20%;
  }
}

.content-wide-container {
  padding: 10% 10%;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-wide-container {
    padding: 20% 10%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-wide-container {
    padding: 15% 10%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-wide-container {
    padding: 10% 15%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content-wide-container {
    padding: 5% 20%;
  }
}

.red-text {
  color: #F85E56;
}

.blue-text {
  color: #4285F4;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-header img {
    margin-top: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 150px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-header img {
    margin-top: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-header img {
    margin-top: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
    width: 150px;
  }
}

.content-header .content-description h1 {
  font-size: 3.25rem;
  color: #484848;
  font-weight: 700;
  margin: 1rem 0;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-header .content-description h1 {
    font-size: 2.25rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-header .content-description h1 {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-header .content-description h1 {
    font-size: 2.25rem;
  }
}

.content-header .content-description p {
  font-size: 1.25rem;
  font-weight: 500;
}

.content-header .content-description .summary {
  font-size: 1.15rem;
  color: #484848;
  font-weight: 400;
  width: 50%;
  margin: 2.5rem 0 1.25rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-header .content-description .summary {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-header .content-description .summary {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-header .content-description .summary {
    width: 100%;
  }
}

.content-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10% 0;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-flexbox img {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 2rem 0;
    width: 250px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-flexbox img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-flexbox img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 250px;
  }
}

.content-flexbox .text {
  width: 50%;
  display: inline;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-flexbox .text {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-flexbox .text {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-flexbox .text {
    width: 100%;
  }
}

.content-flexbox .text h2 {
  font-size: 2rem;
  color: #484848;
  font-weight: 700;
  margin-bottom: 1.5rem;
  width: 75%;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-flexbox .text h2 {
    font-size: 1.25rem;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-flexbox .text h2 {
    font-size: 1.25rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-flexbox .text h2 {
    font-size: 1.25rem;
    width: 100%;
  }
}

.content-flexbox .text p {
  font-size: 1.15rem;
  color: #484848;
  width: 75%;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-flexbox .text p {
    font-size: 1rem;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-flexbox .text p {
    font-size: 1rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-flexbox .text p {
    font-size: 1rem;
    width: 100%;
  }
}

.content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-center h2 {
  font-size: 1.75rem;
  color: #484848;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (min-width: 0px) and (max-width: 480px) {
  .content-center h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content-center h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-center h2 {
    font-size: 1.5rem;
  }
}

.content-center .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-center .image-container .icon {
  margin-right: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
}

.content-center .image-container .icon:last-child {
  margin-right: 0;
}

.footer-blue {
  background-color: #4285F4;
}

.footer-red {
  background-color: #F85E56;
}

.footer-container {
  padding: 5% 10%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 480px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-container .footer-left h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-container .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) and (max-width: 480px) {
  .footer-container .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer-container .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container .footer-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .footer-container .footer-right img {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 2rem 0;
    width: 70px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .footer-container .footer-right img {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 2rem 0;
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container .footer-right img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 70px;
    margin-left: 2rem;
  }
}

.footer-container .footer-right p {
  font-size: 1rem;
}
/*# sourceMappingURL=global.css.map */