@import '../base.scss';

.introduction-container {
    h1 {
        font-size: 2.5rem;
        color: $textBlack;
        font-weight:$bold;
    }
    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight:$medium;
        color: $primaryColor;
    }

    p {
        margin-bottom: 1rem;
        font-size: 1.15rem;
    }
}

.social-media-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    justify-content: flex-start;

    a {
        margin-right: 2.5rem;
        cursor: pointer;
        transition: transform .5s ease-in-out;

        @include respon(phone-pot) {
            margin-right: 1.5rem;
        }
        @include respon(phone-land) {
            margin-right: 1.75rem;
            
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            transform: rotate(360deg);
        }
    }

    .kaggle {
        color: #20BEFF;
    }

    .github {
        color: #000;
    }

    .twitter {
        color: #55ACEE;
    }

    .socicon {
        font-size: 2.25rem;
    }
}

.project-container {
    h3 {
        font-size: 1.25rem;
        color: $primaryColor;
        font-weight:$regular;
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 2.25rem;
        color: $textBlack;
        font-weight:$semi-bold;
    }

    p {
        font-size: 1rem;
        color: $textBlack;
        font-weight:$regular;
        margin-top: 0.5rem;
    }
}

.showcase-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    @include respon(phone-pot) {
        flex-direction: column;
    }
    @include respon(phone-land) {
        flex-direction: column;
    }
    @include respon(tb-pot) {
        flex-direction: column;
    }

    .showcase-card {
        width: 39%;
        height: 270px;
        display: flex;
        position: relative;
        flex-direction: column;
        margin-bottom: 2rem;
        padding: 5%;
        background-color: white;
        box-shadow: 0px 10px 20px rgba(138, 149, 158, 0.20);
        border-radius: 5px;

        @include respon(phone-pot) {
            width: 90%;
            height: 350px;
        }
        @include respon(phone-land) {
            width: 90%;
            height: 350px;
        }
        @include respon(tb-pot) {
            width: 90%;
            height: 300px;
        }

        h4 {
            font-size: 1.25rem;
            color: $primaryColor;
            font-weight:$medium;
            margin-bottom: 0.5rem;
        }

    }
}


.button {
    border-radius: 50px;
    width: 140px;
    position: absolute;
    bottom: 1.5rem;
    background-color: $primaryColor;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.15rem;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #1E50A5;
    }   
}